
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #F0F2F5;
    font-family: 'Roboto', sans-serif;
}

.container{
    position: absolute;
    top:30%;
    left: 17%;
    font-size: 25px;
    
}
.container img{
    margin-bottom: 5px;
}

header{
    background-color: #FFFFFF;
    width: 350px;
    height: 310px;
    position: absolute;
    top: 20%;
    left: 55%;
   
    
}
.box input{
    width: 79%;
margin: 5px;
margin-top: 15px;
margin-bottom: 0px;
margin-left: 18px;
padding: 13px 18px;
}

.link1{
    background-color: #1877F2;
    text-align: center;
    padding: 10px;
margin-top: 18px;
margin: 15px;
padding: 11px;
border-radius: 5px;
}
.link1 a{
    color: white;
    text-decoration: solid;
    font-size: large;
}
.link2{
    text-align: center;
    margin: 12px;
}
.link2 a{
    color: #1877F2;
    text-decoration: solid;
    font-size: small;
}
.link3{
    width: 150px;
    text-align: center;
    background-color: #42B72A;
    margin: 25px;
    padding: 10px;
    margin-left: 90px;
    border-radius: 5px;
}
.link3 a{
    color: white;
    text-decoration: solid;
}